{% macro loading_button(
  text,
  button_type,
  class,
  post,
) %}
<div data-loading-states class="flex items-center justify-center">
  <button type="{{ button_type }}"
    {% if !post.is_empty() %}
    hx-post="{{ post }}"
    {% endif %}
    data-loading-disable
    class="btn btn-primary w-full relative{% if !class.is_empty() %} {{ class }}{% endif %}">
    <span data-loading-class="invisible opacity-0"
      class="absolute">{{ text }}</span>
    <span data-loading-class="visible opacity-100"
      data-loading-class-remove="invisible opacity-0"
      class="loading loading-dots absolute invisible opacity-0"></span>
  </button>
</div>
{% endmacro %}
