{% if options.use_base_layout %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - MySite</title>
    <script src="{{ crate::libs::asset::get_asset_path("scripts/htmx.js").expect("Failed to read htmx.js asset") }}"></script>
    <link
      href="{{ crate::libs::asset::get_asset_path("styles/main.css").expect("Failed to read main.css asset") }}"
      rel="stylesheet">
  </head>

  <body hx-ext="loading-states">
    <main id="page">
      {% block layout %}{% endblock %}
    </main>
    <script src="{{ crate::libs::asset::get_asset_path("scripts/main.js").expect("Failed to read main.js asset") }}"></script>
  </body>

</html>
{% else %}
<title>{% block title %}{% endblock %} - MySite</title>
{% block layout %}{% endblock %}
{% endif %}
