@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .button-indicator {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 500ms ease-in;
  }
  .htmx-request .button-indicator {
    visibility: visible;
    opacity: 1;
  }
  .htmx-request.button-indicator {
    visibility: visible;
    opacity: 1;
  }

  .button-indicator-inverse {
    visibility: visible;
    opacity: 1;
  }
  .htmx-request .button-indicator-inverse {
    visibility: hidden;
    opacity: 0;
  }
  .htmx-request.button-indicator-inverse {
    visibility: hidden;
    opacity: 0;
  }

  .page-indicator {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 300ms ease-in;
    transition-delay: 200ms;
  }
  .htmx-request .page-indicator {
    visibility: visible;
    opacity: 1;
  }
  .htmx-request.page-indicator {
    visibility: visible;
    opacity: 1;
  }

  .page-indicator-inverse {
    visibility: visible;
    opacity: 1;
    transition-property: visibility, opacity;
    transition-delay: 200ms;
  }
  .htmx-request .page-indicator-inverse {
    visibility: hidden;
    opacity: 0;
  }
  .htmx-request.page-indicator-inverse {
    visibility: hidden;
    opacity: 0;
  }
}
