@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .indicator {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 300ms ease-in;
    transition-delay: 200ms;
  }
  .htmx-request .indicator {
    visibility: visible;
    opacity: 1;
  }
  .htmx-request.indicator {
    visibility: visible;
    opacity: 1;
  }

  .indicator-inverse {
    visibility: visible;
    opacity: 1;
    transition-property: opacity;
    transition-delay: 100ms;
  }
  .htmx-request .indicator-inverse {
    visibility: hidden;
    opacity: 0;
  }
  .htmx-request.indicator-inverse {
    visibility: hidden;
    opacity: 0;
  }
}
