{%- import "components/page-navigation-button.html" as page_navigation_button_component -%}

{% extends "layouts/home.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="flex items-center justify-center gap-2">
  {% call page_navigation_button_component::page_navigation_button(
    text="Sign in",
    url="/signin",
    class="btn-ghost"
  ) %}
  {% call page_navigation_button_component::page_navigation_button(
    text="Sign up",
    url="/signup",
    class="btn-outline btn-primary"
  ) %}
</div>
{% endblock %}
