{% extends "layouts/home.html" %}

{% block content %}
{% if is_authenticated %}
<button hx-post="/logout" hx-disabled-elt="this"
  class="btn btn-primary relative">
  <span class="indicator-inverse absolute">Log out</span>
  <span class="indicator loading loading-dots absolute"></span>
</button>
{% else %}
<div hx-target="#page" class="flex items-center justify-center gap-2">
  <a hx-get="/signin" hx-push-url="true"
    class="btn btn-ghost">Sign in</a>
  <a hx-get="/signup" hx-push-url="true"
    class="btn btn-outline btn-primary">Sign up</a>
</div>
{% endif %}
{% endblock %}
