<form hx-post="/signup" hx-swap="outerHTML" hx-disabled-elt="#submit"
  style="display: flex; flex-direction: column">
  <label>
    Email:
    <input type="text" name="email" placeholder="Email address"
      value="{{ form_data.values.email }}"
      {% if let SignupFormField::Email=form_data.focus %}
      autofocus
      {% endif %} />
  </label>
  {% if let Some(error) = form_data.errors.email %}
  <div style="color: red">{{ error }}</div>
  {% endif %}
  <label>
    Password:
    <input type="password" name="password" placeholder="Password"
      {% if let SignupFormField::Password=form_data.focus %}
      autofocus
      {% endif %} />
  </label>
  {% if let Some(error) = form_data.errors.password %}
  <div style="color: red">{{ error }}</div>
  {% endif %}
  <label>
    Confirm Password:
    <input type="password" name="confirm_password"
      placeholder="Confirm password"
      {% if let SignupFormField::ConfirmPassword=form_data.focus %}
      autofocus
      {% endif %} />
  </label>
  {% if let Some(error) = form_data.errors.confirm_password %}
  <div style="color: red">{{ error }}</div>
  {% endif %}
  <button id="submit" type="submit">
    Sign up
    <span class="htmx-indicator">...</span>
  </button>
</form>
