{%- import "components/loading-button.html" as loading_button_component -%}
{%- import "components/text-input.html" as text_input_component -%}

<form hx-post="/signup" hx-swap="outerHTML" data-loading-states novalidate
  class="flex flex-col gap-2">
  {% call text_input_component::text_input(
    name="email",
    label="Email",
    input_type="email",
    value=form_data.values.email,
    placeholder="Email address",
    required=true,
    autofocus=SignupFormField::Email==form_data.focus,
    error=form_data.errors.email
  ) %}
  {% call text_input_component::text_input(
    name="password",
    label="Password",
    input_type="password",
    value="",
    placeholder="Password",
    required=true,
    autofocus=SignupFormField::Password==form_data.focus,
    error=form_data.errors.password
  ) %}
  {% call text_input_component::text_input(
    name="confirm_password",
    label="Confirm Password",
    input_type="password",
    value="",
    placeholder="Confirm password",
    required=true,
    autofocus=SignupFormField::ConfirmPassword==form_data.focus,
    error=form_data.errors.confirm_password
  ) %}
  {% call loading_button_component::loading_button(
    text="Sign up",
    button_type="submit",
    post="",
    class="mt-3",
  ) %}
</form>
